@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato',sans-serif;
    color: #fff;
    font-size: 16px;
    margin-bottom: 0 !important;
}

body {
    background-color: black;
}


.header {
    display: flex;
    background-color: black;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    padding-left: 20px;
    align-items: center
}

.logo {
    width: max-content;
    height: 100%;
}

.menu {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.menu .anchor {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.menu:hover {
    background-color: #fff;
}

.menu:hover .anchor {
    color: black;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50px 0;
}

.foto {
    background-color: black;
    width: 50%;
    height: 30%;
}

.foto .foto-principal {
    object-fit: cover;
    width: 100%;

}


.title-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    height: 40px;
}

.title-container .title-1 {
    width: 100%;
    flex: 1;
}

.title-container .title-2 {
    width: 100%;
    flex: 2;
}

.title-container .title-3 {
    width: 100%;
    flex: 1;
}

.content-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

.content-container .content-1 {
    height: 50%;
    width: 100%;
    flex: 1;
}

.content-container .content-2  {
    height: 50%;
    width: 100%;
    flex: 2;
}

.content-container .content-2 p {
    font-size: 18px;
}

.content-container .content-3 {
    height: 50%;
    width: 100%;
    flex: 1;
}

.content-container .content-1 .poster {
    object-fit: contain;
    width: 100%;
    width: 100%;
}

.container-slide {
    text-align: center;
    padding: 50px 20%;
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 85px;
}

.footer .pe {
 
    width: 40%;
    height: 40px;
}

.creditos .title {
    font-size: 18px;
    font-weight: bold;
}

.sinopse .historia {
    font-size: 18px;
    font-weight: bold;
}

.footer .final {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    justify-content: center;
}

